#game-container {
    position: relative;
    text-align: center;
    color: aqua;
    font-size: 24px;
    border: 1px dashed black;
    margin: 100px 0 40px 300px;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 80vh;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 800px;
        height: 100%;
        z-index: -1;
        background-image: url('/images/game-bg.png');
        background-position: 0 0;
        background-size: 100% 100%;
        animation: moveBackground 30s linear infinite;
      }

    @keyframes moveBackground {
        from { background-position: 0 0; }
        to { background-position: -5000px 0; }
      }

      .character {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: aqua;
      }

      /* navbar */
/* Global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("/images/cover-math-game.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  text-align: center;
}

/* Game styles */

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-right: 50px;
  margin-top: -300px;
  z-index: 1;
}

#question-container {
  margin-bottom: 20px;
  text-align: center;
}

#question {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 130px;
  padding: 20px;
  border: 2px dashed #fede10;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: none
}


#answer {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;
  outline: none;
}

#answer:focus {
  border-color: #f1c40f;
}

#submit-button {
  background-color: #fede10ff;
  color: #111;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #f1c40f;
}

#feedback-container {
  display: none;
  text-align: center;
}

#feedback {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

#score-container {
  margin-top: 20px;
  text-align: center;
}

#score {
  font-size: 48px;
  font-weight: bold;
}

/* Story styles */

#story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 50px;
  z-index: 0;
  color: red;
}

#ufo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

#cow {
  width: 200px;
  height: 200px;
}

#story-text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}



.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Poppins', sans
-serif;
z-index: 999;
}

#game-info p {
  color: #fff;
  font-weight: bolder;


}

.logo {
color: #fff;
text-transform: uppercase;
letter-spacing: 5px;
font-size: 20px;
}

.burger {
display: none;
}

.nav-links {
display: flex;
justify-content: space-around;
width: 50%;
}

.nav-links li {
list-style: none;
}

.nav-links a {
color: #fff;
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 14px;
}

.nav-active {
transform: translateX(0%);
}

@keyframes navLinkFade {
from {
opacity: 0;
transform: translateX(50px);
}
to {
opacity: 1;
transform: translateX(0px);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}

.container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
height: 100vh;
}



#question-container {
margin-bottom: 20px;
text-align: center;
}

#question {
font-size: 48px;
font-weight: bold;
margin-bottom: 20px;
}

#answer {
font-size: 36px;
font-weight: bold;
text-align: center;
background-color: transparent;
border: none;
border-bottom: 2px solid #fff;
color: #fff;
padding: 10px;
margin-bottom: 20px;
width: 200px;
outline: none;
}

#answer:focus {
border-color: #f1c40f;
}

#submit-button {
background-color: #fff;
color: #111;
font-size: 24px;
font-weight: bold;
border: none;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#submit-button:hover {
background-color: #f1c40f;
}

#feedback-container {
display: none;
text-align: center;
}

#feedback {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}

#score-container {
margin-top: 20px;
text-align: center;
position: relative;
}

#score {
font-size: 48px;
font-weight: bold;
}

/* Story styles */

#story {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 50px;
z-index: 0;
color: red;
}

#fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 999999;
}

.beam {
  animation: beam 1s infinite;
  background-image: url('beam.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes beam {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}



#ufo {
width: 200px;
height: 200px;
margin-bottom: 20px;
margin-top: 160px;
}

#cow {
  width: 200px;
  height: 200px;
 margin-bottom: 20px;
}

/* ---- reset ---- */
.github {
  z-index: 10000;
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 10px;
  background: #fff;
  padding: 0 12px 6px 12px;
  border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
  color: #000;
  text-decoration: none;
}

.github img {
  height: 30px;
}

.github #gh-project {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: bottom;
}
